body {
	font-family: 'Trebuchet MS', 'Trebuchet MS', sans-serif;
}

#header {
	height: 30px;
	border-bottom: 12px solid #647CD0;
	padding: 10px 15px;
	background-color: #879FC1;
	line-height: 30px;
}

#header h1 {
	margin-right: 10px;
	display: inline;
}
#header a {
	color: black;
	text-decoration: none;
}

#header h2 {
	margin-right: 10px;
	display: inline;
}

#information {
	float: right;
	width: 23%;
	padding: 1%;
	background-color: #879FC1;
	height: 100%;
	overflow: auto;
	font-size: 0.9em;
}

#information  h2 {
	width: 75%;
	margin: 0px;
}

div .show {
	width: 75%;
}
